{% extends "blog/base.html" %}
{% block content %}
    <div class="container text-info rp-about" style="text-align: left;">
        <h1 style="margin-top: 40px; text-align: left;">  ABOUT </h1>
    </div>
    <div class="rp-about">
        <p> Random Pantry is a recipe recommender system that uses machine learning to give you recipes that 
            you will enjoy!
            We're still working on it, but feel free to have a look around at what we have so far :)
        </p>
    </div>
{% endblock content %}
