{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="icon" href="https://image.flaticon.com/icons/png/512/1094/1094675.png">

        <link rel="stylesheet" type="text/css" href="{% static 'blog/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/lightslider.min.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/randompantry.css' %}">
    </head>
    <body>

        <!-- Navigation Bar -->

        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand mr-4 font-weight-bold" href="{% url 'blog-home' %}">RANDOM PANTRY!</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
                        <!-- <a class="nav-item nav-link disabled">Optimize</a> -->
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">

                        <!---  This is the search bar! Put it back when you're ready to make it work for real.

                        <form class="form-inline my-2 my-lg-0 pr-2">
                            <fieldset disabled="disabled">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                                <button class="btn btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                            </fieldset>
                        </form>
                        -->

                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'recipe-create' %}"> Create new recipe </a>      
                            <a class="nav-item nav-link" href="{% url 'profile' %}"> Profile </a>        
                            <a class="nav-item nav-link" href="{% url 'logout' %}"> Logout </a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        <!-- Main Content -->

        <main role="main" id="mainContent">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% block content %}{% endblock %}
        </main>

        <script src="{% static 'blog/jquery-3.4.1.slim.min.js' %}"></script>
        <script src="{% static 'blog/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'blog/lightslider.min.js' %}"></script>
        <!-- These should be moved out of base html -->
        <script src="{% static 'blog/randompantry.home.js' %}"></script>
        <script src="{% static 'blog/randompantry.recipe.detail.js' %}"></script>
    </body>
</html>
