{% extends "blog/base.html" %}
{% block content %}
    {% for recipe in recipes %}
        <article class="media content-section">
            <img class ="rounded-circle article-img" src="{{ recipe.user.profile.image.url }}" alt="the user's profile pic.">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ recipe.user }}</a>
                <small class="text-muted">{{ recipe.date }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'recipe-detail' recipe.id %}">{{ recipe.name }}</a></h2>
            <p class="article-content">{{ recipe.description }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
