{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<!-- Recommended -->

{% if recommended %}
    <div class="container-fluid titleCard">
        <h2 class="rowHeader">
            <span class="rowTitle">
                <div class="row-header-title">Recommended</div>
            </span>
        </h2>
        <ul id="recSlider">
            {% for rec in recommended %}
                <li>
                    <div class="hovereffect">
                        <img width="372.45" height="209.3" src="{{ rec.img_url }}"/>
                        <a href="#modal_{{ rec.id }}" data-toggle="modal">
                            <div class="overlay star-center">
                                <h2>{{ rec.name }}</h2>
                                {% for _ in rec.rating %}
                                    <span class="fa fa-star star-center recipe-detail-checked"></span>    
                                {% endfor %}
                                {% for _ in rec.rating_null %}
                                    <span class="fa fa-star star-center"></span>    
                                {% endfor %}
                            </div>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Recommendation Modals -->
    {% for rec in recommended %}
        <div class="modal fade" id="modal_{{ rec.id }}">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">            
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h1 class="modal-title recipe-detail-title">{{ rec.name }}</h1>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <img class="recipe-detail-section" width="372.45" height="209.3" src="{{ rec.img_url }}"/>
                        <div>
                            {% for _ in rec.rating %}
                                <span class="fa fa-star star-center recipe-detail-checked"></span>    
                            {% endfor %}
                            {% for _ in rec.rating_null %}
                                <span class="fa fa-star star-center"></span>    
                            {% endfor %}
                        </div>
                        <p class="recipe-detail-section">{{ rec.desc }}</p>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <a href="{% url 'recipe-detail' rec.id %}">Click here to see full recipe</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

<!-- Make Again -->

{% if make_again %}
    <div class="container-fluid titleCard">
        <h2 class="rowHeader">
            <span class="rowTitle">
                <div class="row-header-title">Make Again</div>
            </span>
        </h2>
        <ul id="makeAgainSlider">
            {% for rec in make_again %}
                <li>
                    <div class="hovereffect">
                        <img width="372.45" height="209.3" src="{{ rec.img_url }}"/>
                        <a href="#modal_{{ rec.id }}" data-toggle="modal">
                            <div class="overlay">
                                <h2>{{ rec.name }}</h2>
                                {% for _ in rec.rating %}
                                    <span class="fa fa-star star-center recipe-detail-checked"></span>    
                                {% endfor %}
                                {% for _ in rec.rating_null %}
                                    <span class="fa fa-star star-center"></span>    
                                {% endfor %}
                            </div>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Make Again Modals -->
    {% for rec in make_again %}
        <div class="modal fade" id="modal_{{ rec.id }}">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">            
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h1 class="modal-title recipe-detail-title">{{ rec.name }}</h1>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <img class="recipe-detail-section" width="372.45" height="209.3" src="{{ rec.img_url }}"/>
                        <div class="star-center">
                            {% for _ in rec.rating %}
                                <span class="fa fa-star star-center recipe-detail-checked"></span>    
                            {% endfor %}
                            {% for _ in rec.rating_null %}
                                <span class="fa fa-star star-center"></span>    
                            {% endfor %}
                        </div>
                        <p class="recipe-detail-section">{{ rec.desc }}</p>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <a href="{% url 'recipe-detail' rec.id %}">Click here to see full recipe</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

<!-- Top Rated -->

{% if top_rated %}
    <div class="container-fluid titleCard">
        <h2 class="rowHeader">
            <span class="rowTitle">
                <div class="row-header-title">Top Rated</div>
            </span>
        </h2>
        <ul id="topRatedSlider">
            {% for rec in top_rated %}
                <li>
                    <div class="hovereffect">
                        <img width="372.45" height="209.3" src="{{ rec.img_url }}"/>
                        <a href="#modal_{{ rec.id }}" data-toggle="modal">
                            <div class="overlay">
                                <h2>{{ rec.name }}</h2>
                                {% for _ in rec.rating %}
                                    <span class="fa fa-star star-center recipe-detail-checked"></span>    
                                {% endfor %}
                                {% for _ in rec.rating_null %}
                                    <span class="fa fa-star star-center"></span>    
                                {% endfor %}
                            </div>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Top Rated Modals -->
    {% for rec in top_rated %}
        <div class="modal fade" id="modal_{{ rec.id }}">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">            
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h1 class="modal-title recipe-detail-title">{{ rec.name }}</h1>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <img class="recipe-detail-section" width="372.45" height="209.3" src="{{ rec.img_url }}"/>
                        <div>
                            {% for _ in rec.rating %}
                                <span class="fa fa-star star-center recipe-detail-checked"></span>    
                            {% endfor %}
                            {% for _ in rec.rating_null %}
                                <span class="fa fa-star star-center"></span>    
                            {% endfor %}
                        </div>
                        <p class="recipe-detail-section">{{ rec.desc }}</p>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <a href="{% url 'recipe-detail' rec.id %}">Click here to see full recipe</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

<!-- TODO: Top Tag -->

<!-- TODO: Nutrition Pick -->

{% endblock content %}
